.home {
  width: 100%;
  height: 200vh;
  min-height: fit-content;
}
.cards-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
}
.middle-container {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  gap: 1rem;
}
.data-table {
  /* height: 50rem; */
  border: 1px solid black;
  padding: 1rem;
  width: 100%;
  flex: 1;
}
.data-table .data-table-header {
  display: flex;
  margin-bottom: 2rem;
}
.charts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  flex: 2;
}
.pie-chart {
  border: 1px solid black;
  display: flex;
  padding: 1rem;
  height: 24rem;
}

.bar-chart {
  border: 1px solid black;
  height: 24rem;
  padding: 1rem;
}
.bottom-container {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  justify-content: space-around;
  /* height: 20rem; */
  width: 100%;
}
.bottom-charts {
  border: 1px solid black;
  height: 24rem;
  padding: 1rem;
  width: 100%;
  gap: 1rem;
}

@media (width < 650px) {
  .cards-container {
    flex-direction: column;
  }
}
