/* .home {
  height: 100%;
  .cards-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    gap: 1rem;
  }

  .middle-container {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;

    .data-table {
      height: 50rem;
      border: 1px solid black;
      padding: 1rem;
    }

    .charts {
      display: flex;
      flex-direction: column;
      .pie-chart {
        border: 1px solid black;
        display: flex;
        padding: 1rem;
        height: 24rem;
      }

      .bar-chart {
        border: 1px solid black;
        height: 24rem;
        padding: 1rem;
      }
    }
  }
} */

.home {
  width: 100%;
  height: 100%;
}
.cards-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
}
.middle-container {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  gap: 1rem;
}
.data-table {
  /* height: 50rem; */
  border: 1px solid black;
  padding: 1rem;
  width: 100%;
}
.data-table .data-table-header {
  display: flex;
  margin-bottom: 2rem;
}
.charts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.pie-chart {
  border: 1px solid black;
  display: flex;
  padding: 1rem;
  height: 24rem;
}

.bar-chart {
  border: 1px solid black;
  height: 24rem;
  padding: 1rem;
}

@media (width < 650px) {
  .cards-container {
    flex-direction: column;
  }
}
